.logo {
  height: 4em;
  padding: 0.5em;
}

article {
  will-change: filter;
  transition: filter 300ms;
}
article:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

a {
  text-decoration: none;
  color: inherit;
}

.flex-group {
  display: flex;
  gap: 1ch;
  justify-items: center;
  align-items: center;
}
