.logo {
  height: 4em;
  padding: 0.5em;
}

article {
  will-change: filter;
  transition: filter 300ms;
}
article:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

a {
  text-decoration: none;
  color: inherit;
}

.grid {
  display: grid;
  grid-template-columns: minmax(250px, 375px);
  grid-column-gap: 16px;
}

.flex-group {
  display: flex;
  gap: 1ch;
  justify-items: center;
  align-items: center;
}

@media (min-width: 576px) {
  .grid {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}
@media (min-width: 1280px) {
  .grid {
    grid-template-columns: repeat(4, minmax(250px, 1fr));
  }
}
